* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  margin: 0;
}

h1,
p {
  margin: 1rem;
}
